{%extends 'base.html'%}

{% block content %}
  <div class="container bg-light">
    <h2 class="display-5 text-center">User settings</h2>
    <form method="post">
      
        {% csrf_token %}
        {{ form.as_p }}
      
      <div class="container text-center">
        <button type="submit" class="btn btn-secondary btn-lg">Save and return</button>
        <a class="btn btn-outline-secondary btn-lg" href="{% url 'home' %}" role="button">Back</a>
      </div>
    </form>
    <br>
  </div>
{% endblock %}